.hover-cards__wrapper {
  background-image: url("src/assets/images/backgrounds/curva-rosa.svg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 100%;
  display: flex;
  padding-bottom: 8.5rem;
}

.hover-cards__container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  
  @media screen and (max-width: 768px) {
    align-items: center;
    flex-direction: column;
    height: unset;
    justify-content: center;
  }

  .hover-card {
    background-color: $white;
    border-radius: 2rem;
    box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.1);
    max-width: 42.7rem;
    min-height: 65.4rem;
    overflow: hidden;
    position: relative;
    transition: all .2s ease;
    width: 33%;

    @media screen and (max-width: 768px) {
      width: 100%;
      margin-bottom: 6rem;
    }

    img {
      max-height: 24rem;
    }

    .hover-card__content {
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 4rem;
      transition: all .2s ease;
    }

    .hover-card__title {
      margin: 0;
      font-family: $roboto;
      font-size: 34px;
      text-transform: uppercase;
      transition: all .2s ease;
    }

    .hover-card__divider {
      height: 2px;
      margin: 1.7rem 0 3.1rem;
      transition: all .2s ease;
      width: 100%;
    }

    .hover-card__img-wrapper {
      position: relative;

      .hover-card__icon-bg {
        border-radius: 50%;
        height: 100%;
        left: 0;
        position: absolute;
        top: -5px;
        transition: all .1s ease;
        width: 100%;
        z-index: 0;
      }

      img {
        position: relative;
        z-index: 1;
      }
    }

    .hover-card__paragraph {
      padding: 3.4rem 1.6rem 2.4rem;
      text-align: center;
    }


    &.pink {
      .hover-card__title {
        color: $brand-dark-pink;
      }

      .hover-card__divider {
        background-color: $brand-dark-pink;
      }

      .hover-card__icon-bg {
        background-color: $brand-dark-pink;
      }

      .hover-card__btn {
        background-color: $brand-dark-pink;
        color: $white;
      }

      &:hover {
        background-color: $brand-pink;
        transform: scale(101%);
        
        .hover-card__title {
          color: $white;
        }
      
        .hover-card__divider {
          background-color: $white;
        }
      
        .hover-card__paragraph {
          color: $white;
        }
      
        .hover-card__btn {
          background-color: $white;
          color: $brand-dark-pink;
        }
      } 
    }

    &.yellow {
      .hover-card__title {
        color: $brand-dark-yellow;
      }

      .hover-card__divider {
        background-color: $brand-dark-yellow;
      }

      .hover-card__icon-bg {
        background-color: $brand-yellow;
      }

      .hover-card__btn {
        background-color: $brand-dark-yellow;
        color: $white;
      }

      &:hover {
        background-color: $brand-dark-yellow; //su questo ho variato la logica del colore piu chiaro di shondo, considerando che la leggibilita della card (giallo chiaro troppo chiaro per la leggibilità del contenuto
        transform: scale(101%);
        
        .hover-card__title {
          color: $white;
        }
      
        .hover-card__divider {
          background-color: $white;
        }

        .hover-card__icon-bg {
          background-color: unset;
        }
      
        .hover-card__paragraph {
          color: $white;
        }
      
        .hover-card__btn {
          background-color: $white;
          color: $brand-dark-yellow;
        }
      } 
    }

    &.teal {
      .hover-card__title {
        color: $brand-dark-teal;
      }

      .hover-card__divider {
        background-color: $brand-dark-teal;
      }

      .hover-card__icon-bg {
        background-color: $brand-dark-teal;
      }

      .hover-card__btn {
        background-color: $brand-dark-teal;
        color: $white;
      }

      &:hover {
        background-color: $brand-teal;
        transform: scale(101%);
        
        .hover-card__title {
          color: $white;
        }
      
        .hover-card__divider {
          background-color: $white;
        }
      
        .hover-card__paragraph {
          color: $white;
        }
      
        .hover-card__btn {
          background-color: $white;
          color: $brand-dark-teal;
        }
      } 
    }
  }
}