.title-section {
  align-items: flex-end;
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  display: flex;
  justify-content: flex-start;
  min-height: 55.6rem;
  z-index: 1;

  .title-section__wrapper {
    display: flex;
    h1 {
        color: $brand-pink;
        margin: 0;
        max-width: 87.3rem;
        padding-bottom: 5.3rem;
      }
  }

  &.title-section__left {
    background-image: url("/src/assets/images/backgrounds/onda-grigio-bianco.svg");
  }

  &.title-section__right {
    align-items: center;
    background-image: url('/src/assets/images/backgrounds/onda-bianco-grigio.svg');
    margin-top: -12rem;

    .title-section__wrapper {
      align-items: center;
      justify-content: flex-end;

      h1 {
        text-align: right;
      }
    }
  }
}